<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome</h1>
    <p>
        This is a demo on COOKIES!
    </p>
    {% if cookie %}
        <pre>
            Cookie name: cookie
            Cookie value: {{ cookie }}
        </pre>
    {% else %}
    {% endif %}
    <hr>
    <a href="/cookie">Click to get a cookie</a>
</body>
</html>